.error {
	text-align: left;
	color: red;
} 


.btn.btn-primary.btn-signup {
	width: 100%;
} 

.login {
	background: url(/static/media/bannerbackground.e0679251.png);
	width: 100%;
	background-position: center;
	background-size: cover;
	height: 110%;
	/* padding: 64px; */
	height: 714px;
}

.img-fluid.logo2 {
	width: 186px;
	margin-top: 67px;
	margin-bottom: 46px;
} 

.btn.btn-primary.s-btn {
	width: 100%;
	border-radius: 1\[x;
	border-radius: 7px;
} 

.sign-form .form-control.mb-3 {
	height: 42px;
	/* margin-bottom: 67px; */
} 

.btn.btn-primary.s-btn {
	width: 100%;
	border-radius: 1\[x;
	border-radius: 7px;
	height: 42px;
} 

.already-account {
	color: red !important;
	/* margin-top: -42px; */
} 

.btn.btn-primary.s-btn {
	width: 100%;
	border-radius: 1\[x;
	border-radius: 7px;
	height: 41px;
}
.signup-text {
	font-size: 17px;
	font-weight: bold;
	margin-top: 41px;
}


input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
	background-color: #3B5998 !important;
	color: white !important;
	width: 100%;
	margin-bottom: 15px;
}

.twitter {
  background-color: #55ACEE!important;
  color: white!important;
  width: 100%;
	margin-bottom: 15px;
}

.google {
  background-color: #dd4b39!important;
  color: white!important;
  width: 100%;
	margin-bottom: 15px;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.reset {
	font-size: 24px;
	text-align: left;
	margin-bottom: 20px;
}













